/* grid */

body{
    width: 100%;
    margin: 0;
}

header, main{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.grid-container{
    display: grid;
}

.hidden{
    display: none;
}

.grid-section{
    grid-gap: $gutter-space;
    border: 2px solid $employee-container-border-color;
}

#search{
    margin: auto;
}

.employees-container [class*="employee-container"]{
    width: 90%;
    margin: $gutter-space auto;
    background-color: $employee-container-background-color;
    border-radius: 5px;
    padding: 0px 5px;
    
    & div{
        margin: 2px auto;
        text-align: center;
    }

}
